<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="Content-Language" content="en,en-us"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPS</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="assets/css/style.css" rel="stylesheet">

    <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="assets/css/styleown.css" rel="stylesheet">
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/socket.io.min.js"></script>
	<script src="assets/js/OpenLayers.js"></script>
	<script src="assets/js/OpenStreetMap.js"></script>
	<script type="text/javascript">
		<!--
		function LoadMap() {
				document.getElementById("map").firstChild.data = "";

				/* Set default to London */
				var lon = 7.944622;
				var lat = 48.47184;
				var zoom=11;

				map = new OpenLayers.Map ("map", {
		        controls:[
		            new OpenLayers.Control.Navigation(),
		            new OpenLayers.Control.PanZoomBar(),
		            new OpenLayers.Control.Permalink(),
		            new OpenLayers.Control.ScaleLine({geodesic: true}),
		            new OpenLayers.Control.Permalink('permalink'),
		            new OpenLayers.Control.MousePosition(),
		            new OpenLayers.Control.Attribution()],
		        maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
		        maxResolution: 156543.0339,
		        numZoomLevels: 19,
		        units: 'm',
		        projection: new OpenLayers.Projection("EPSG:900913"),
		        displayProjection: new OpenLayers.Projection("EPSG:4326")
		    } );

		    layerMapnik = new OpenLayers.Layer.OSM.Mapnik("Mapnik");
		    layerMapnik.setOpacity(0.4);
		    map.addLayer(layerMapnik);

		    layerCycleMap = new OpenLayers.Layer.OSM.CycleMap("CycleMap");
		    layerCycleMap.setOpacity(0.4);
		    map.addLayer(layerCycleMap);

		    // This is the layer that uses the locally stored tiles
		    var newLayer = new OpenLayers.Layer.OSM("Local Tiles", "assets/tiles/${z}/${x}/${y}.png", {numZoomLevels: 19, alpha: true, isBaseLayer: false});
		    map.addLayer(newLayer);
				// This is the end of the layer

		      var switcherControl = new OpenLayers.Control.LayerSwitcher();
		    	map.addControl(switcherControl);
					switcherControl.maximizeControl();

		    if( ! map.getCenter() ){
		        var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
		        map.setCenter (lonLat, zoom);
		    }

				var iconStyle = new OpenLayers.style.Style({
					image: new OpenLayers.style.Icon({
						anchor: [0.5, 1.0],
						anchorXUnits: 'fraction',
						anchorYUnits: 'fraction',
						src: 'assets/img/marker.png'
					})
				});

				iconFeature = new OpenLayers.Feature();

				iconFeature.setStyle(iconStyle);

				var vectorSource = new OpenLayers.source.Vector({
					features: [iconFeature]
				});

				var vectorLayer = new OpenLayers.layer.Vector({
					source: vectorSource
				});

				map.addLayer(vectorLayer);
			}

		function UpdateMapPos(lon,lat) {
			var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
			// map.setCenter (lonLat, zoom);
			// iconFeature.setGeometry(new OpenLayers.geom.Point(OpenLayers.LonLat([lon, lat]).transform(new OpenLayers.Projection("EPSG:4326"))));
			iconFeature.setGeometry(new OpenLayers.geom.Point(lonLat));
			map.getView().animate({
				center: OpenLayers.LonLat([lon, lat]).transform(new OpenLayers.Projection("EPSG:4326")),
				duration: 1000
			});
		}
		-->
	</script>
    <script type="text/javascript">
        $(document).ready(function() {
            var url = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port: '');
            var socket = io.connect(url);
            socket.on('gpsdata', function(gps) {
                $("#gpstime").html(gps.gpstime);
				$("#latitude").html(gps.latitude);
				$("#longitude").html(gps.longitude);
				$("#altitude").html(gps.altitude);
				$("#mode").html(gps.mode);
				$("#sats").html(gps.sats);
				$("#hdop").html(gps.hdop);
				$("#vdop").html(gps.vdop);
				$("#gpssats").html(gps.satellites);
				if (gps.gpstime) {
					var d = new Date(gps.gpstime);
					var date = d.getUTCFullYear() + "-" + ("0" + d.getUTCMonth()).substr(-2) + "-" + ("0" + d.getUTCDate()).substr(-2) + "T" + ("0" + d.getUTCHours()).substr(-2) + ":" + ("0" + d.getUTCMinutes()).substr(-2) + ":" + ("0" + d.getUTCSeconds()).substr(-2);
					$("#gtime").html(date);
				}
				if (gps.latitude && gps.longitude) {
					var lat = gps.latitude;
					var lon = gps.longitude;

					UpdateMapPos(lon,lat);

					latdeg = parseInt(lat);
					latmin = parseInt((lat - latdeg)*3600/60);
					latsec = ((lat - latdeg - latmin/60)*3600).toFixed(4);
					londeg = parseInt(lon);
					lonmin = parseInt((lon - londeg)*3600/60);
					lonsec = ((lon - londeg - lonmin/60)*3600).toFixed(4);
					latrad = latdeg + ":" + ("0" + latmin).substr(-2) + ":" + ("0" + latsec).substr(-7);
					lonrad = londeg + ":" + ("0" + lonmin).substr(-2) + ":" + ("0" + lonsec).substr(-7);
					$("#lat").html(latrad);
					$("#lon").html(lonrad);
				}
				if (gps.skymap) {
					$("#skymap").attr("src", "data:image/png;base64,"+gps.skymap);
					document.getElementById("gpsfix").style.display="none";
				}
				if (gps.mode > 1) {
					document.getElementById("gpsfix").style.display="none";
				} else {
					document.getElementById("gpsfix").style.display="block";
				}
            });
        });
    </script>
</head>
<body onload="LoadMap()">
	<div class="topnav">
      <!-- <a href="help.html">Karte</a>
      <a class="active" href="main.html">Main</a> -->
			<button type="button" class="btn btn-outline-primary" id="togglemap" onclick="togglemap();">Map</button>
			<button type="button" class="btn btn-outline-primary" id="toggleskymap" onclick="toggleskymap();">Sky Map</button>
			<button type="button" class="btn btn-outline-primary" id="togglegpsdetails" onclick="togglegpsdetails();">GPS Info</button>
  </div>
	<div class="container">
		<h1>GPS Information</h1>
		<div id="coordtime">
			<span class="coordlabel"><b>Latitude: </b></span><span id="lat" class="coord"></span>
			<span class="coordlabel"><b>Longitude: </b></span><span id="lon" class="coord"></span><br />
			<span class="timelabel"><b>UTC time: </b></span><span id="gtime" class="time"></span>
		</div>
		<!-- <div id="displayctl">
			<button type="button" class="btn btn-outline-primary" id="togglemap" onclick="togglemap();">Map</button>
			<button type="button" class="btn btn-outline-primary" id="toggleskymap" onclick="toggleskymap();">Sky Map</button>
			<button type="button" class="btn btn-outline-primary" id="togglegpsdetails" onclick="togglegpsdetails();">GPS Info</button>
		</div> -->
		<div id="mapcontainer">
			<div id="map" class="map">
				Loading...
				<noscript>
					<span class='warning'>You must enable javascript to view the maps.</span><br/>
				</noscript>
			</div>
		</div>
		<div id="skymapcontainer">
			<img id="skymap" src="assets/img/skymap.png"/>
			<p id="legend" >A filled circle means the satellite was used in the last fix. Colors indicate signal strength in dB.</p>
		</div>
		<div id="gpsdetailscontainer">
			<div id="gpsdetails">
				<div id="gpsinfo">
					<table>
						<tr><th colspan=2 align=left><h2>GPS Status</h2></th></tr>
						<tr><td><b>Time</b></td><td><span id="gpstime"></span></td></tr>
						<tr><td><b>Latitude</b></td><td><span id="latitude"></span></td></tr>
						<tr><td><b>Longitude</b></td><td><span id="longitude"></span></td></tr>
						<tr><td><b>Altitude</b></td><td><span id="altitude"></span></td></tr>
						<tr><td><b>Fix Type</b></td><td><span id="mode"></span></td></tr>
						<tr><td><b>Satellites</b></td><td><span id="sats"></span></td></tr>
						<tr><td><b>HDOP</b></td><td><span id="hdop"></span></td></tr>
						<tr><td><b>VDOP</b></td><td><span id="vdop"></span></td></tr>
					</table>
				</div>
				<div id="gpssats">
					<table>
						<tr><th colspan=5 align=left><h2>Visible Satellites<h2></th></tr><tr><th>PRN</th><th>Elevation</th><th>Azimuth</th><th>SS</th><th>Used</th></tr>
					</table>
				</div>
				<div id="gpsfix">
						<p>Waiting for GPS fix...</p>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	function togglemap() {
			document.getElementById("mapcontainer").style.display="block";
			document.getElementById("skymapcontainer").style.display="none";
			document.getElementById("gpsdetailscontainer").style.display="none";
	}
	function toggleskymap() {
			document.getElementById("mapcontainer").style.display="none";
			document.getElementById("skymapcontainer").style.display="block";
			document.getElementById("gpsdetailscontainer").style.display="none";
	}
	function togglegpsdetails() {
			document.getElementById("mapcontainer").style.display="none";
			document.getElementById("skymapcontainer").style.display="none";
			document.getElementById("gpsdetailscontainer").style.display="block";
	}
	</script>
</body>
</html>
